@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
	font-size: 10px;
	background: url('./images/library_wallpaper.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
}

html::before {
	content: '';
	position: fixed;
	height: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgb(0, 0, 0, 0.6);
	z-index: -1;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(244, 244, 244);
	color: #333;
	font-family: 'Playfair Display', serif;
	padding-bottom: 15px;
}

p {
	font-size: 1.6rem;
}

small {
	font-size: 1.2rem;
}

.container {
	margin: 0 auto;
	max-width: 1150px;
	padding: 40px;
}

.title {
	font-size: 5rem;
	text-align: center;
	cursor: pointer;
	font-family: 'Roboto', sans-serif;
	margin-top: 1rem;
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.reload {
	width: 15px;
	margin-bottom: 1.5rem;
	margin-left: 5px;
}

