.card {
	padding: 2rem 4rem;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	margin: 2rem 0;
	background-color: #fff;
	display: grid;
}

.cardContent {
	display: grid;
}

.cardAuthor {
	font-size: 2.2rem;
	line-height: 1;
}

.cardTitle, .releaseDate {
	margin-bottom: 0.5rem;
	font-size: 2.2rem;
}

a {
	display:inline-block;
  word-wrap: break-word;
	font-size: 2.2rem;
	/* text-decoration: none; */
	font-weight: bold;
}

@media (min-width: 786px) {
	.cardContent {
		grid-template-columns: auto auto auto;
		gap: 1rem;
		align-items: center;
		justify-content: space-between;
		margin: 0 2rem;
	}
}
