.form {
	display: grid;
	margin-bottom: 2rem;
}

.label {
	font-size: 2.2rem;
	margin-bottom: 0.2rem;
	width: 150px;
}

.queryInput {
	font-size: 1.6rem;
	padding: 0.5rem 2rem;
	line-height: 2.5rem;
	border-radius: 20px;
	border: 1px solid #ddd;
	margin-bottom: 1rem;
	width: 100%;
}

.queryInput:focus {
	outline: none;
}

.searchBtn {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 1rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	font-size: 1.4rem;
	cursor: pointer;
	transition: background-color 250ms;
}

.searchBtn:hover,
.titleSortBtn:hover,
.yearSortBtn:hover {
	background-color: rgba(0, 0, 0, 0.85);
}

.search {
	font-size: 3rem;
}

.bookList {
	margin-top: 2rem;
}

.sortBtns {
	display: grid;
}

.titleSortBtn,
.yearSortBtn {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 1rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-size: 1.8rem;
	cursor: pointer;
	transition: background-color 250ms;
	margin-top: 2rem;
}

.errorMsg {
	font-size: 3.5rem;
	text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;

    border: 5px solid #333;
    border-top: 5px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 786px) {
	.form {
		grid-template-columns: auto 1fr auto;
		gap: 1rem;
		align-items: center;
	}

	.sortBtns {
		grid-template-columns: auto auto;
		gap: 8rem;
		align-items: center;
		justify-content: space-between;
	}

	.titleSortBtn,
	.yearSortBtn {
		width: 400px;
	}

	.cardContent {
		grid-template-columns: auto auto;
		gap: 1rem;
		align-items: center;
	}

	.queryInput {
		margin-bottom: 0;
	}
}
