.titleSortBtn:hover,
.yearSortBtn:hover {
	background-color: rgba(0, 0, 0, 0.85);
}

.bookList {
	margin-top: 2rem;
}

.sortBtns {
	display: grid;
}

.titleSortBtn,
.yearSortBtn {
	background-color: rgba(0, 0, 0, 0.75);
	color: #fff;
	padding: 1rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	font-size: 1.8rem;
	cursor: pointer;
	transition: background-color 250ms;
	margin-top: 1.5rem;
}

.errorMsg {
	font-size: 3.5rem;
	text-align: center;
}

.spinner {
    width: 80px;
    height: 80px;

    border: 5px solid #fff;
    border-top: 5px solid #f25a41;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    animation: spin 1s infinite linear;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* For page loader */

.pageLoader {
	opacity: 0;
	display: flex;
	position: fixed;
	left: 50%;
	transform: translateX(-60%);
	bottom: 20px;
	transition: opacity 0.3s ease-in;
}

.show {
	opacity: 1;
}

.circle {
	background-color: #333;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 5px;
	animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
	animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes bounce {
	0%,100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}



@media (min-width: 786px) {
	.form {
		grid-template-columns: auto 1fr auto;
		gap: 1rem;
		align-items: center;
	}

	.sortBtns {
		grid-template-columns: auto auto;
		gap: 8rem;
		align-items: center;
		justify-content: space-between;
	}

	.titleSortBtn,
	.yearSortBtn {
		width: 400px;
	}

	.cardContent {
		grid-template-columns: auto auto;
		gap: 1rem;
		align-items: center;
	}

}
