.form {
	display: grid;
	margin-bottom: 2rem;
}

.label {
	font-size: 2.2rem;
	margin-bottom: 0.2rem;
	color: rgb(244, 244, 244);
	width: 150px;
}

.queryInput {
	font-size: 1.6rem;
	padding: 0.5rem 2rem;
	line-height: 2.5rem;
	border-radius: 20px;
	border: 1px solid #ddd;
	margin-bottom: 1rem;
	width: 100%;
}

.queryInput:focus {
	outline: none;
}

.searchBtn {
	background-color: rgba(148, 148, 148, 0.5);
	color: #fff;
	padding: 1rem 2rem;
	border: 1px solid rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	font-size: 1.4rem;
	cursor: pointer;
	transition: background-color 250ms;
}

.searchBtn:hover,
.titleSortBtn:hover,
.yearSortBtn:hover {
	background-color: rgba(58, 58, 58, 0.507);
}

.search {
	font-size: 3rem;
	color: #fff;
}

.bookList {
	margin-top: 2rem;
}

.sortBtns {
	display: grid;
}

.titleSortBtn,
.yearSortBtn {
	background-color: rgba(148, 148, 148, 0.8);
	color: #fff;
	padding: 1rem 2rem;
	border: 1px solid rgba(148, 148, 148, 0.8);
	border-radius: 5px;
	font-size: 1.8rem;
	cursor: pointer;
	transition: background-color 250ms;
	margin-top: 2rem;
}

.errorMsg {
	font-size: 3.5rem;
	text-align: center;
	color: #fff;
}

@media (min-width: 786px) {
	.form {
		grid-template-columns: auto 1fr auto;
		gap: 1rem;
		align-items: center;
	}

	.sortBtns {
		grid-template-columns: auto auto;
		gap: 8rem;
		align-items: center;
		justify-content: space-between;
	}

	.titleSortBtn,
	.yearSortBtn {
		width: 400px;
	}

	.cardContent {
		grid-template-columns: auto auto;
		gap: 1rem;
		align-items: center;
	}

	.queryInput {
		margin-bottom: 0;
	}
}
