.card {
	padding: 2rem 4rem;
	border-radius: 10px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	margin-bottom: 2rem;
	background-color: #fff;
}

.pubDateLabel {
	font-size: 2.2rem;
	font-weight: bold;
}

.publish {
	width: 50%;
	height: 30px;
	margin-bottom: 2rem;
}
.publish:focus {
	outline: none;
}

.cardContent {
	display: grid;
	position: relative;
}

.cardAuthor {
	font-size: 2.2rem;
}

.cardTitle {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-size: 2.2rem;
}

.bookImg {
	height: 200px;
	width: auto;
	
}

@media (min-width: 786px) {
	.cardContent {
		grid-template-columns: 1fr auto;
		gap: 1rem;
		align-items: center;
	}

	.isbnArea {
		grid-template-columns: auto 1fr auto;
		gap: 1rem;
		align-items: center;
	}

	.isbn {
		margin-bottom: 0;
	}
	.queryInput {
		margin-bottom: 0;
	}
}